:root[theme="capitanAmerica"]{
    --bg: url(../assets/images/capitan1.jpg);
    --primary1: rgba(22, 7, 241, 0.329);
    --primary2: red;
    --font:'Comic Neue', 'cursive';
    --header: white;
    --color1: white;
    --color2: black;
    --box-shadow: 1px 1px 10px rgb(250, 15, 7);
    --text-shadow: 0px 0px 2px white;
    --border: 1px solid blue inset;
}